<div class="container">
  <% if @user.image.attached? %>
    <%= image_tag @user.image %>
  <% end %>
  <div class="form-container">
    <%= form_with model:@user do |form| %>
      <%= form.label :名前 %>
      <%= form.text_field :name %><br>

      <%= form.label :画像 %>
      <%= form.file_field :image %><br>

      <%= form.submit "更新" %><br>
      <%= link_to "トップページに戻る", home_index_path %>
    <% end %>
  </div>

</div>
