<div class="container user-container text-center my-5">
  <div class="my-5 border border-2 bg-light py-4">
    <h2 class="mt-4">ユーザー情報</h2>
    <%= render "shared/user_icon" %>
    <%= form_with model:@user do |form| %>
      <%= form.label :name, "名前", class: "col-1 mt-5 mb-4" %>
      <%= form.text_field :name, class: "col-2 mt-5 mb-4", disabled: true %><br>
    <% end %>
    <%= link_to "名前、アイコン編集", user_path(current_user.id), class: "btn btn-primary" %><br>
    <%= link_to "トップページに戻る", home_index_path, class: "btn btn-secondary my-3" %>
  </div>

  <div class="book-container bg-light border border-2 my-5 p-5">
    <h2>登録した本の一覧</h2>
    <table class="user-book-table">
      <tr>
        <th class="col-2">写真</th>
        <th class="col-2">タイトル</th>
        <th class="col-2">著者</th>
        <th class="col-2">説明文</th>
        <th class="col-1">編集</th>
        <th class="col-1">削除</th><br>
      </tr>
      <% @user.books.each do |user_book| %>
        <tr>
          <td>
            <% if user_book.image.attached? %>
              <%= link_to image_tag(user_book.image, class: "p-3"), book_path(user_book.id) %>
            <% else %>
              <%= link_to image_tag("noimage-book.jpg", class: "p-3"), book_path(user_book.id)%>
            <% end %>
          </td>
          <td><%= link_to(user_book.title, book_path(user_book.id)) %></td>
          <td><%= user_book.author %></td>
          <td><%= user_book.description %></td>
          <td><%= link_to "編集", edit_book_path(user_book.id) %></td>
          <td><%= link_to "削除", book_path(user_book.id), method: :delete, data: {confirm: "本当に本を削除してよろしいですか？" } %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="comment-container bg-light border border-2 my-5 py-4">
  <h2>投稿したコメント一覧</h2><br>
  本のタイトル<br>
  コメント<br>
  全体にリンク、本の<br>
  </div>
</div>
