<nav class="navbar navbar-light bg-light px-4">
  <h1><%= link_to "BookLover", home_index_path, class: "navbar-brand" %></h1>
  <%= search_form_for @search, url: search_books_path do |f| %>
    <%= f.search_field :title_or_author_or_description_cont, placeholder: "本を検索", class: "search-book" %>
    <%= f.submit "検索", class: "xs-d-none" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-end" id="navbarNav" aria-expanded="true">
    <% if current_user %>
      <%= current_user.name %>
      <%= render "shared/user_icon" %>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <%= link_to "パスワード編集", edit_user_registration_path(current_user.id), class: 'btn btn-outline-primary mt-2 mb-2' %>
        </li>
        <li class="nav-item">
          <%= link_to "名前、アイコン編集", edit_user_path(current_user.id), class: 'btn btn-outline-info mb-2' %>
        </li>
        <li class="nav-item">
          <%= link_to "本の登録", new_book_path, class: 'btn btn-outline-success mb-2' %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー情報", user_path(current_user.id), class: 'btn btn-outline-secondary mb-2' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark mb-2' %>
        </li>
      </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right text-end">
          <li class="nav-item active">
            <%= link_to "ゲストログイン", home_guest_sign_in_path, method: :post, class: 'btn btn-dark m-2' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary m-2' %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-secondary m-2' %>
          </li>
        </ul>
    <% end %>
  </div>
</nav>
