<div class="container">
  <div class="main-content">
    <%= image_tag "main-image.jpg", class: "main-image" %>
    <span class="main-image-word">あなたの好きを、誰かの好きに。</span>
  </div>
  <div class="about">
    <h2 class="about-title">BookLoverとは?</h2>
    <p class="about-description">
    BookLoverは好きな本を共有できるサイトです。「自分の好きな本を伝えたい」「他の人がどんな本を好きなのか知りたい」という
    想いを実現するため作成しました。<br>
    あなたも好きな本を登録してみませんか。
    </p>
  </div>
   <div class="recommend">
    <h2 class="recommend-title">おすすめジャンル</h2>
    <div class="recommend-item-list">
      <div class="recommend-item col-12 col-lg-5">
        <%= link_to (image_tag "recommend-nobel.jpg", alt: "小説"), search_books_path(q: {title_or_author_or_description_cont: "小説"}) %>
        <span>小説</span>
      </div>
      <div class="recommend-item col-12 col-lg-5">
        <%= link_to (image_tag "recommend-business.jpg", alt: "ビジネス"), search_books_path(q: {title_or_author_or_description_cont: "ビジネス"}) %>
        <span>ビジネス</span>
      </div>
      <div class="recommend-item col-12 col-lg-5">
        <%= link_to (image_tag "recommend-health.jpg", alt: "健康"), search_books_path(q: {title_or_author_or_description_cont: "健康"}) %>
        <span>健康</span>
      </div>
      <div class="recommend-item col-12 col-lg-5">
        <%= link_to (image_tag "recommend-money.jpg", alt: "お金"), search_books_path(q: {title_or_author_or_description_cont: "お金"}) %>
        <span>お金</span>
      </div>
    </div>
  </div>
</div>
