<div class="container">
  <div class="main-content">
    <%= image_tag "main-image.jpg", class: "main-image" %>
    <span class="main-image-word">あなたの好きを、誰かの好きに。</span>
  </div>
 
  <div class="about">
    <h2 class="about-title">BookLoverとは?</h2>
    <p class="about-description">
    あなたのおすすめの一冊を共有しましょう。
    ビジネス、小説、お金の本など、何でもあります。どんどん登録しましょう。とりあえず文字数を増やして
    レイアウト調整するから、文章は後で考える。４行から５行くらいを意識。もう少し文章量が必要。
    おすすめ本をたくさん紹介する感じと同時に、何でも気軽に検索して人のおすすめを読めますよ、的な幹事を意識。</p>
  </div>

   <div class="recommend">
    <h2 class="recommend-title">おすすめジャンル</h2>
    <div class="recommend-item-list">
      <div class="recommend-item col-12 col-lg-5">
        <%= image_tag "recommend-nobel.jpg" %>
        <span>小説</span>
      </div>
      <div class="recommend-item col-12 col-lg-5">
        <%= image_tag "recommend-business.jpg" %>
        <span>ビジネス</span>
      </div>
      <div class="recommend-item col-12 col-lg-5">
        <%= image_tag "recommend-health.jpg" %>
        <span>健康</span>
      </div>
      <div class="recommend-item col-12 col-lg-5">
        <%= image_tag "recommend-money.jpg" %>
        <span>お金</span>
      </div>
    </div>
  </div>
</div>
