<div class="container book-edit-container text-center mt-5 bg-light border border-2">
  <h2 class="pt-5">本の編集</h2>
  <div class="form-container mb-5 pb-5">
    <%= form_with(model: @book, local: true) do |form| %>
      <%= render "shared/error_messages", model: form.object %>
      <%= render "shared/book_icon" %><br>

      <%= form.label :title, "タイトル", class: "col-1 mt-3 mb-4" %>
      <%= form.text_field :title, class: "col-3 mt-3 mb-4" %><br>

      <%= form.label :author, "著者", class: "col-1 mb-4" %>
      <%= form.text_field :author, class: "col-3 mb-4" %><br>

      <div class="text-area">
        <%= form.label :description, "説明文", class: "col-1 mb-4 text-area-label" %>
        <%= form.text_area :description, class: "col-3 mb-4 text-area-input" %><br>
      </div>

      <%= form.label :image, "画像", class: "col-1 mb-4" %>
      <%= form.file_field :image, class: "col-3 mb-4" %><br>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <%= form.submit "本の更新", class: "btn btn-success col-2 mb-4" %><br>
    <% end %>
    <%= link_to "トップページに戻る", home_index_path, class: "btn btn-secondary col-2" %>
  </div>
</div>
