<div class="container edit-container text-center mt-5 bg-light border border-2">
  <h2 class="pt-5">本の編集</h2>
  <div class="form-container mb-5 pb-5">
    <%= form_with(model: @book, local: true) do |form| %>
      <%= render "shared/error_messages", model: form.object %>
      <%= render "shared/book_icon" %><br>

      <%= form.label :title, "タイトル", class: "mt-3 mb-2" %><br>
      <%= form.text_field :title, class: "col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-2" %><br>

      <%= form.label :author, "著者", class:"mt-3 mb-2" %><br>
      <%= form.text_field :author, class: "col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-2" %><br>

      <%= form.label :description, "説明文", class: "mt-3 mb-2" %><br>
      <%= form.text_area :description, class: "col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 mb-2" %><br>

      <%= form.label :image, "画像", class: "mt-3 mb-2" %><br>
      <%= form.file_field :image, class: "col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 mb-2" %><br>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <%= form.submit "本の更新", class: "btn btn-success col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 mt-5" %><br>
    <% end %>
    <%= link_to "トップページに戻る", home_index_path, class: "btn btn-secondary col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 mt-5" %>
  </div>
</div>
