<div class="container text-center bg-light border border-2 my-5 p-5">
  <h2>検索結果：<%= @results.size %>件</h2>
  <table class="search-book-table">
    <thead>
      <tr>
        <th class="col-2">写真</th>
        <th class="col-2">タイトル</th>
        <th class="col-2">著者</th>
        <th class="col-2">説明文</th>
        <th class="col-1">登録ユーザー名</th><br>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td class="col-2">
            <% if result.image.attached? %>
              <%= link_to image_tag(result.image, class: "p-3"), book_path(result.id) %>
            <% else %>
              <%= link_to image_tag("noimage-book.jpg", class: "p-3"), book_path(result.id)%>
            <% end %>
          </td>
          <td class="col-2"><%= link_to(result.title, book_path(result.id)) %></td>
          <td class="col-2"><%= result.author %></td>
          <td class="col-2"><%= result.description %></td>
          <td class="col-1"><%= result.user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
