<div class="container my-5">
  <div class="book-show-container text-center my-5 border border-2 bg-light py-4">
    <h2 class="my-4 text-center">本の情報</h2>
    <%= render "shared/book_icon" %>
    <div class="my-5 ">
      <div class="mx-auto my-md-5 py-2 px-md-5 border border-1 bg-white w-75">
        <p class="font-24px">タイトル</p>
        <p class="text-break pb-2"><%= @book.title %></p>
        <p class="font-24px">著者</p>
        <p class="text-break pb-2"><%= @book.author %></p>
        <p class="font-24px">説明文</p>
        <p class="text-start text-break pb-2"><%= @book.description %></p>
      </div>
      <div class="my-5 m-md-5 py-3 px-md-5 border border-1 bg-white">
        <p class="font-24px">本の登録者</p>
        <p class="text-break"><%= @book.user.name %></p>
      </div>
      <% if @rakuten_books.first && @rakuten_books.first.title == @book.title %>
        <p class="mt-4">楽天リンク：<%= link_to @rakuten_books.first.title, @rakuten_books.first.item_url %></p>
      <% end %>
      <% if user_signed_in? && @book.user_id == current_user.id %>
        <%= link_to "編集", edit_book_path(@book.id), class: "btn btn-primary col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 my-4" %><br>
      <% end %>
      <%= link_to "トップページに戻る", home_index_path, class: "btn btn-secondary col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 my-4" %>
    </div>
  </div>
  <div class="comment-container w-100 mx-auto my-5 text-center border border-2 bg-light p-4">
    <h3 class="my-5">コメント一覧(<%= @book.comments.size %>件)</h3>
    <% if @book.comments.size != 0 %>
      <table class="mx-auto">
        <thead>
          <tr>
            <th class="col-4">投稿者</th>
            <th class="col-8">コメント</th>
          </tr>
        </thead>
        <tbody>
        <% @book_comments.each do |comment| %>
          <tr>
            <td class="col-4 text-break"><%= comment.user.name %></td>
            <td class="col-8 text-break"><%= comment.comment %><br></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <% if user_signed_in? %>
      <div class="form-container my-3 py-3">
        <%= form_with(model: @comment, local: true, url: comments_path) do |form| %>
          <%= render "shared/error_messages", model: form.object %>
          <div class="text-area">
            <%= form.label :comment, "コメント", class: "mb-4" %><br>
            <%= form.text_area :comment, class: "col-12 col-sm-9 col-lg-6 h-150px" %><br>
          </div>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :book_id, value: @book.id %>
          <%= form.submit "投稿", class: "btn btn-success col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 mt-4" %><br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
