<!DOCTYPE html>
<html>
  <head>
    <title>BookLover</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'shared/header_left' %>
      <%= render 'shared/header_right' %>
    </header>
    <%= render 'shared/notice_alert' %>
    <%= yield %>
    <footer>
      <%= link_to "BookLover", home_index_path, class: "footerlogo" %>
    </footer>
  </body>
</html>
